<html>
	<head>
		<title>Circle Finder Results</title>
		<link href="css/main.css" rel="stylesheet" type="text/css"> 
		<link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div>
		<h1>Results page</h1>
		</div>
		<h2>Circle Radius: <%=@circle1.radius%></h2>
		<h2> Circle Diameter: <%=@circle1.diameter%></h2>
		<h2>Circle Area: <%=@circle1.area%></h2>
		<h2>Circle Circumfrence:<%=@circle1.circumfrence%></h2>
	</body>
</html>