<html>
	<head>
		<title>Triangle Finder</title>
		<link href="css/main.css" rel="stylesheet" type="text/css"> 
		<link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="wrapper">
		<div>
		<h1>Welcome to the Amazing Circle finder</h1>
		</div>
		<div>
			<h2>Please enter at least one value for the circle</h2>
			<h2><form action="/circle" method="post">
			<label for="radius">Radius</label>
			<input type="text" id="radius" name="radius"></h2>
			<h2><label for="diameter">Diameter</label>
			<input type="text" id="diameter" name="diameter"></h2>
			<h2><label for="circumfrence">Circumfrence</label>
			<input type="text" id="circumfrence" name="circumfrence"></h2>
			<h2><label for="area">Area</label>
			<input type="area" id="area" name="area">
			<input type="submit"></h2>
			</form>
		</div>	
	</div>	
</body>
</html>