<html>
	<head>
		<title>Triangle Finder</title>
		<link href="css/main.css" rel="stylesheet" type="text/css"> 
		<link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div>
		<h1>Welcome to the Amazing Triangle Finder</h1>
		</div>
			<h2>Please enter at least two values for the legs of the triangle</h2>
			<form action="/triangle" method="post">
			<label for="leg1">Leg 1</label>
			<input type="text" id="leg1" name="leg1">
			<label for="leg2">Leg 2</label>
			<input type="text" id="leg2" name="leg2">
			<label for="hypotenuse">Hypotenuse</label>
			<input type="text" id="hypotenuse" name="hypotenuse">

			<h2>Please enter at least one value for the angles of the triangle</h2>
			<label for="angle_1">Angle 1</label>
			<input type="text" id="angle_1" name="angle_1">
			<label for="angle_2">Angle 2</label>
			<input type="text" id="angle_2" name="angle_2">
			<label for="angle_3">Angle 3</label>
			<input type="text" id="angle_3" name="angle_3">
			<input type="submit">
			</form>
	</body>
</html>